html, body{
	margin: 0;
    height: 100%;
}

body{
    -webkit-animation: colorchange 50s;
    animation-iteration-count: infinite;
	background-image: url("../media/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#welcomebox p {
	font-family: Syncopate;
	font-size: 20px;
	color: white;
	text-align: center;
}

.navhidden {
	opacity: 0;
}

.navigation {
	height: 125px;
	transition: opacity 1s;
	letter-spacing: 2.5px;
}

.navigation img {
	width: 100px;
	padding: 0;
	padding-right: 50px;
	float: right;
}

.navigation ul{
	list-style: none;
}

.navigation ul li {
	display: inline-block;
	float: left;
	padding-top: 25px;
}

.navigation ul li a {
	font-family: Coda;
	text-decoration: none;
	color: hsl(200, 0%, 90%);
	font-size: 20px;
	padding-left: 35px;
}

#playnow {
	float: left;
	margin-top: 20px;
	background-color: Transparent;
	border: 2.5px solid white;
	color: white;
	font-family: Coda;
	font-size: 20px;
	outline: none;

	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

#playnow:hover {
	cursor: pointer;
	background-color: rgba(150, 150, 150, 0.2);
}

.clearfix {
	clear: both;
}

.main {
    animation-duration: 1s;
    
}

.main img {
	width: 750px;
	margin: 0 auto;
	display: block;
}

#box {
	width: 400px;
	height: 50px;
	background-color: rgba(204, 204, 204, 0.1);
	display: block;
	margin: auto;
    animation-delay: 1s;
    animation-duration: 1s;
    border-radius: 5px;
}

#box p {

	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Julius Sans One', sans-serif;
	padding-top: 13px;
	text-align: center;
}

.loginbox {
	width: 450px;
	height: 250px;
	margin: auto;
	margin-bottom: 50px;
	margin-top: -50px;

	transition: opacity 0.5s 0.5s ease-in;
	opacity: 0;
}

.loginshow {
	opacity: 1;
}


#nickname {
	font-size: 20px;
	text-indent: 20px;
	width: 90%;
	height: 20%;
	margin: 20px 15px 0 15px;
	background-color: #fff;
	outline: none;
	border: 1px solid #303030;
    opacity: 0.7;
}

.play {
    
	width: 150px;
	height: 40px;

	margin-top: 40px;
	margin-left: 15px;

    background-color: transparent;

	cursor: pointer;

	outline: none;
    border: none;
}


#spielen {
    width: 80px;
    height: 40px;
    padding-left: 15px;
}

#gast {
    width: 200px;
    height: 40px;
    
    padding-left: 20px;
}

ul.tri {
	margin: auto;
	padding: 30px;
	display: block;
	text-align: center;
}

ul.tri li
{
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 30px;
}

#team {
	text-decoration: underline;
}

#nav {
    animation-delay: 0s;
    animation-duration: 1s;
}

#bild {
    animation-delay: 1.75s;
    animation-duration: 1s;
}
.zerodelay {
    animation-delay: 0s!important;
}

@-webkit-keyframes colorchange
    {
      0%   {background-color: red;}
      25%  {background-color: darkgoldenrod;}
      50%  {background-color: blue;}
      75%  {background-color: green;}
      100% {background-color: red;}
    }





