html, body{
	margin: 0;
    height: 100%;
}

body{
    -webkit-animation: colorchange 50s;
    animation-iteration-count: infinite;
	background-image: url("../media/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#welcomebox p {
	font-family: Syncopate;
	font-size: 20px;
	color: white;
	text-align: center;
}

.navhidden {
	opacity: 0;
}

.navigation {
	height: 125px;
	transition: opacity 1s;
	letter-spacing: 2.5px;
}

.navigation img {
	width: 100px;
	padding: 0;
	padding-right: 50px;
	float: right;
}

.navigation ul{
	list-style: none;
}

.navigation ul li {
	display: inline-block;
	float: left;
	padding-top: 25px;
}

.navigation ul li a {
	font-family: Coda;
	text-decoration: none;
	color: hsl(200, 0%, 90%);
	font-size: 20px;
	padding-left: 35px;
}


#playnow {
	float: left;
	margin-top: 20px;
	background-color: Transparent;
	border: 2.5px solid white;
	color: white;
	font-family: Coda;
	font-size: 20px;
	outline: none;
    
	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

#playnow:hover {
	cursor: pointer;
	background-color: white;
    color: black;
}


.clearfix {
	clear: both;
}

.main {
    animation-duration: 1s;
    
}

.main img {
	width: 750px;
	margin: 0 auto;
	display: block;
}

#box {
	width: 400px;
	height: 50px;
	background-color: rgba(204, 204, 204, 0.1);
	display: block;
	margin: auto;
    animation-delay: 1s;
    animation-duration: 1s;
    border-radius: 5px;
}

#box p {

	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Julius Sans One', sans-serif;
	padding-top: 13px;
	text-align: center;
}

#spielen {
    width: 80px;
    height: 40px;
    padding-left: 15px;
}

#gast {
    width: 200px;
    height: 40px;
    
    padding-left: 20px;
}

ul.tri {
	margin: auto;
	padding: 30px;
	display: block;
	text-align: center;
}

ul.tri li
{
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 30px;
}

#team {
	text-decoration: underline;
}

#scoreboard {
	text-decoration: underline;
}

#nav {
    animation-delay: 0s;
    animation-duration: 1s;
}

#bild {
    animation-delay: 1.75s;
    animation-duration: 1s;
}
.zerodelay {
    animation-delay: 0s!important;
}

@-webkit-keyframes colorchange
    {
      0%   {background-color: red;}
      25%  {background-color: darkgoldenrod;}
      50%  {background-color: blue;}
      75%  {background-color: green;}
      100% {background-color: red;}
    }

.nav-btn {
    transform: scale(1);
    transition: transform .5s;
    
}
.nav-btn:hover {
    transform: scale(1.2);
}
#loginBackground {
    text-align: center;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    transition: background-color 1s;
}

#loginbox {
    align-content: center;
    text-align: center;
    margin:0 auto;
    background-color: rgba(199,119,204,0.8);
    width: 40%;
    height: 60%;
}

.loginshow {
	display: block!important;
}
#login {
    display: none;
    padding-top: 15%;
}

#hideLoginForm {
    margin-top:auto;
    cursor: pointer;
    float: right;
}

.loginBtn {
    background-color: grey;
    color: white;
    font-family: Helvetica;
    height: 30
}
table, th, td {
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    font-size: 20px;
    color: white;
    font-family: Coda;
}

tr {
    transform: scale(1);
    transition: transform 0.5s;
}

tr:hover {
    transform: scale(1.2);
}

table {
    height: 70%;
}

.table p {
    text-align: center;
    color:white;
    font-size: 30px;
    text-decoration: underline;
    font-family: Coda;
}

#tabelle, #para {
    animation: fadeInUp 1s;
}

#guestLogIn {
    width: 66.6%;
}

#signUp {
    width: 33.3%;
}

#logIn {
    width: 33.3%;
}
