.team {
    
}

.team ul {
    list-style: none;
}

.team ul li {
    display: inline-block;
    float: left;
    padding-left: 50px;
    
}

.name {
    color: white;
    font-size: 40px;
    font-family: Forum;
    
     margin: 0 auto;
    padding-top: 100px;
}

.description {
    color: #DEDEDE;
    font-size: 20px;
    font-family: Helvetica;
    
    margin: 0;    
}

.team:before {
    animation: bounce 1s;
}
